# before adding somthing here,
# please wonder, should it be in your systemwide global gitgnore.

*.bundle.*
lib/
papyri_lab/labextension

### Python ###

# Distribution / packaging
.Python
build/
dist/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py


# Rope project settings
.ropeproject

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


# Pyre type checker
.pyre/

node_modules/
*.egg-info/
__pycache__/
tsconfig.tsbuildinfo
*.ipynb
.ipynb_checkpoints/


**/test-results/
**/playwright-report/
